.navbar
    .navbar-inner
        .container
            .brand Voto
                p
                    label Número Candidato:
                    input(text="input")
                p
                    button(type="button")#voto-pesquisar.btn.btn-default Pesquisar
                    button(type="button")#voto-confirmar.btn.btn-default CONFIRMAR
                    button(type="button")#voto-corrigir.btn.btn-default CORRIGIR

